<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Desafio</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/confirmacao.css">
</head>
<style>

</style>

<body>
    <div class="container">
        <img class="image" src="/images/Digital lifestyle-rafiki.svg" alt="">
        <div class="content-confirmacao">
            <h1 class="text">Estamos quase lá!</h1>
            <h3 class="text">Digite o token que aparece na plataforma e clique no botão abaixo para confirmar sua
                tarefa!
            </h3>
            <input id="token" class="input" type="text" name="" id="">
            <button id="btn-confirmar" class="text button">Confirmar Tarefa</button>
        </div>
    </div>
</body>

<script src="/js/confirmacao.js"></script>

</html>