<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidado!</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    .container {
        width: 100%;
        height: 100%;
        background: "red";
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        font-family: "Poppins";
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        cursor: pointer;
    }
</style>

<body>
    <div class="container">
        <h1 class="text">Atenção!!!</h1>
        <h2 class="text">Para confirmar alguma tarefa, você tem que realizar ela primeiro!</h2>
        <h2 class="text">Acesse, http://cherrysocial.com e realize os seus desafios</h2>
    </div>
</body>

</html>